<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>H+ Sport</title>
	<link rel="stylesheet" href="/css/style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<header id="home" class="header">
		<nav class="nav" role="navigation">
			<div class="container nav-elements">
				<div class="branding">
					<a href="#home"><img src="images/hpluslogo.svg"
						alt="Logo - H Plus Sports"></a>
				</div>
				<!-- branding -->
				<ul class="navbar">
					<li><a href="/home">home</a></li>
					<li><a href="/goToSearch">search</a></li>
					<li><a href="https://www.linkedin.com">linkedIn</a></li>

				</ul>
				<!-- navbar -->
			</div>
			<!-- container nav-elements -->
		</nav>
		
		<!-- <div class="container tagline">
    <h1 class="headline">Our Mission</h1>
    <p>We support and encourage <em>active and healthy</em> lifestyles, by offering <em>ethically sourced</em> and <em>eco-friendly</em> nutritional products for the <em>performance-driven</em> athlete.</p>
  </div>container tagline -->
	</header>
	<!-- #home -->




	<section id="registration" class="section">
	 <div class="container tagline">
	 <em>Register User</em><br/>
    		 <form method="post" action="/registeruser" th:object="${newuser}">
    			<label>Username</label> <input th:field="*{username}" type="text" />
				 <div th:if="${#fields.hasErrors('username')}" class="error">
					 <span  class="error-message" th:errors="*{username}"></span>
				 </div>
				 <br/>
    			<label>Password</label> <input th:field="*{password}" type="password" />
				 <div th:if="${#fields.hasErrors('password')}" class="error">
					 <span  class="error-message" th:errors="*{password}"></span>
				 </div>
				 <br/>

    			<label>First Name</label> <input th:field="*{first_name}" type="text" />
				 <div th:if="${#fields.hasErrors('first_name')}" class="error">
					 <span  class="error-message" th:errors="*{first_name}"></span>
				 </div>
				 <br/>
    			<label>Last Name</label> <input th:field="*{last_name}" type="text"/>
				 <div th:if="${#fields.hasErrors('last_name')}" class="error">
					 <span  class="error-message" th:errors="*{last_name}"></span>
				 </div>
				 <br/>
    			<label>What do you want to do? </label>
				 <input type="radio" th:field="*{activity}" th:value="${T(com.rest.hplus.beans.Activity).sport}" id="sport">
				 <label for="sport">Play a Sport?</label>

				 <input type="radio" th:field="*{activity}" th:value="${T(com.rest.hplus.beans.Activity).GYM}" id="gym">
				 <label for="gym">Hit the Gym?</label>
				 <div th:if="${#fields.hasErrors('activity')}" class="error">
					 <span  class="error-message" th:errors="*{activity}"></span>
				 </div>
				 <br/>

				 <label>Date of Birth</label>
    			<input type="date"th:field="*{age}"  />
				 <div th:if="${#fields.hasErrors('age')}" class="error">
					 <span  class="error-message" th:errors="*{age}"></span>
				 </div>
				 <br/>
				 <label for="gender">Gender:</label>
				 <select id="gender" name="gender" th:field="*{gender}">
					 <option value="Male">Male</option>
					 <option value="Female">Female</option>
					 <option value="Other">Other</option>
				 </select>


				 <input type="submit" value="Submit" id="submit">
    		</form>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<nav class="nav" role="navigation">
				<div class="container nav-elements">
					<div class="branding">
						<a href="#home"><img src="images/hpluslogo.svg"
							alt="Logo - H Plus Sports"></a>
						<p class="address">
							100 Main Street<br> Seattle, WA 98144
						</p>
					</div>
				</div>
			</nav>
			<p class="legal">H+ Sport is a fictitious brand created by
				lynda.com solely for the purpose of training. All products and
				people associated with H+ Sport are also fictitious. Any resemblance
				to real brands, products, or people is purely coincidental.
				Information provided about the product is also fictitious and should
				not be construed to be representative of actual products on the
				market in a similar product category.</p>
		</div>
		<!-- container -->
	</footer>
	<!-- footer -->




</body>
</html>